
body {
    background-color: #008080;
    color: #FFFFFF;
    font-family: serif;
}

div {
    padding: 25px 40px;
    border-radius: 0.5rem;
    border: 0;
}


p {
    text-align: center;
}

a {
    font-size: 3rem;
}

a:link {
    text-decoration: none;
    color: #22bbff;
}

a:visited {
    color: #22bbff;
}

/*a:active {*/
    /*color: #ffffff;*/
/*}*/

a:hover {
    text-decoration: underline;
    color: #ffa500;
}



#base {
	background:#008B8B;
	border: 1px solid #FFFFFF;
	min-height:75vh;
}

.footer {
	background:#008B8B;
	border: 1px solid #FFFFFF;
}

.btn-footer {
    font-size: 3rem;
    color:#ffff00;
}

.div-footer {
	padding-top: 0;
}

#aboutModal {
	border-width: 2px;
	color: #000000;
	font-size: 2rem;
}

#headerModal {
	color: #0000ff;
	font-weight: bold;
}

#btn-ok {
	font-size: 5rem;
}

#id_my_file {
    /*margin: auto;*/
    width: 100%;
    padding: 2rem;
    background: #008080;
    color: #7fff00;
    border: 2px solid #FFFFFF;
    border-radius: 0.7rem;"
}

#estimation {
    text-decoration: underline;
}

#id_translate_word {
	background: url('../img/inputbg.jpg') repeat-x;
	padding: 0 1rem;
}

#id_translate_word:focus {
	border: 3px solid #0000ff;
	background-color: #FFFFFF;
}

label {
    font-size: 3rem;
/*    margin-right: 5rem;*/
}

/*
#label_user_dict, #label_basic_dict {
    padding-right: 2rem;
}
*/
input {
    font-size: 5rem;
}


/*******************************************************************************
 * Label                                                                       *
 ******************************************************************************/
h1 {
	color: #FF4400;
	text-align: center;
	font-size: 7rem;
	font-weight: normal;
}

h2 {
	color: #ffff00;
	text-align: center;
	font-size: 7rem;
}

h3 {
	color: #30d030;
	font-weight: bold;
	font-size: 7rem;
	text-align: center;
}

h4 {
	color: #ff0000;
	font-weight: bold;
	font-size: 7rem;
	text-align: center;
}

h5 {
	color: #7fffd4;
	font-size: 5rem;
	text-align: center;
}

/*******************************************************************************
 * TextField                                                                   *
 ******************************************************************************/
form {
	color: #000000;
	font-size: 5rem;
}

sup {
	color: #2f4f4f;
	font-size: 0.5rem;
}

/*******************************************************************************
 * Button                                                                      *
 ******************************************************************************/
.button {
    color: #ffff00;
    background-color: #008080;
    /* padding: 5 22 5 22;		*/
    border: 1pt #00ffff;
    /* font-family: Consolas;	*/
    font-size: 12pt;
}

.button:hover {
	background-color: #008080;
	color: #ffffff;
}

.button:focus
{
	background-color: #00a0a0;
	color: #ff0000;
    border: 1pt solid #ffffff;
    border-radius: 0 0;
/*      border-insets: 1 1 1 1, 0;	*/
}

a.button1 {
	font-weight: 700;
	font-size: 3rem;
  	text-decoration: none;
  	padding: .8em 1em calc(.8em + 3px);
  	border-radius: 0.5rem;
  	background: #40d080;
  	box-shadow: 0 -0.5rem #309070 inset;
  	transition: 0.2s;
  	color: #ffffff;
}

a.button1:hover {
    background: #309070;
    color: #ffff00;
}

a.button1:active {
  	background: #21935A;
  	box-shadow: 0 1rem #21935A inset;
}


/*******************************************************************************
 * CheckBox                                                                    *
 ******************************************************************************/
input[type=checkbox] {
    visibility: hidden;
}

.dictCheckbox {
    padding: 0;
    width: 30px;
    height: 30px;
    background: #333333;
    margin: 10px 10px 10px 20px;
    border-radius: 100%;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0,0,0,0,5);
}

span.dictCheckbox {
    padding: 0 1rem;
    margin: 0px;
}

.dictCheckbox label {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    z-index: 1;
    background: #FF0000;
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0,5);
}

.dictCheckbox input[type=checkbox]:checked + label {
    background: #00FF00;
}

.hidescreen,
.load_page {
 position: fixed;
 display: none; /*изначально блоки скрыты*/
}
.hidescreen {
 z-index: 9998; 
 width: 100%;
 height: 100%;
 background: #000000;
 opacity: 0.7;
 filter: alpha(opacity=70);
 left:0;
 top:0;
}
.load_page {
 z-index: 9999; /*значение должно больше чем для .hidescreen*/
 left: 50%;
 top: 50%;
 background: #ffffff;
 padding: 30px 10px;
 text-align: center;
 font: normal normal 15px Verdana;
 border-radius: 3px;
 margin-left: -125px;
 width: 250px;
}
.close { 
 position: absolute;
 top: 10px;
 right: 10px; 
 border: 1px solid #666; 
 border-radius: 2px; 
 font: normal bold 12px/14px Comic Sans MS; 
 text-align: center; 
 background: #FFF; 
 color: #C00; 
 cursor: pointer; 
 height: 14px; 
 width: 13px; 
} 
.close:hover { 
 background: #C00; 
 color: #FFF; 
}
