<!-- about-modal.html -->
<div id="aboutModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                О программе
            </div>
            <div class="modal-body">
                Эта программа предназначена для радиолюбителей.
                <br><br>
                Версия: {{ .version }}<br>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-success btn-lg"
                        data-dismiss="modal">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
