<!--index.html-->

<!-- Шаблон хедера -->
{{ template "header.html" .}}

        <form name="fd_form" method="post" action="/go/fd">
            <fieldset>
                <legend>Полевой день</legend>
                <input autofocus="true" id="id_my_qra_fd" maxlength="6" name="my_qra_fd"
                       placeholder=" Введи свой квадрат QRA" required="required" type="text">
                <button class="btn btn-success field-day" data-toggle="modal" data-target="#msgModal" href="#">
                   Получить список участников
                </button>
            </fieldset>
        </form>

    <br><hr><br>

    <form name="cup_form" method="post" action="/go/russia-cup">
        <fieldset>
            <legend>Чемпионат России</legend>
            <input autofocus="true" id="id_my_qra_cup" maxlength="6" name="my_qra_cup"
                   placeholder=" Введи свой квадрат QRA" required="required" type="text">
            <button class="btn btn-success russian-cup" data-toggle="modal" data-target="#msgModal" href="#">
                Получить список участников
            </button>

        </fieldset>
    </form>


<!-- Шаблон футера -->
{{ template "footer.html" .}}
