<!-- message-modal.html -->
<div id="msgModal" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="headerModal" class="modal-header">
                Ожидайте
            </div>
            <div class="modal-body">
                <div class="center-align">
                    Загружаются данные с сайта VHFDX.RU<br>
                    (около 2-х минут)
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>
